@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
  background-image: url('../assets/img/backgroundSearch.png');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
}